<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ruby Remarkable</string>
	<key>uuid</key>
	<string>06D32877-970E-4FA8-94CF-699FD8161953</string>
</dict>
</plist>
